/* Panels */

.panel {
    position: absolute;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
    align-items: center;
}

.panel-overlay {
    height: 100%;
    width: 100%;
}

.panel-content {
    width: 80%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    z-index: 1;
    text-align: center;
    overflow: auto;
    background: rgba(35, 35, 35, 0.95);
}

.panel-close-button {
	background-color: transparent;
    border: transparent;
	cursor: pointer;
	color: #ffffff;
    font-size: 3rem;
    outline: none;
    margin-top: 1rem;
    transition: 0.2s;
}
.panel-close-button:hover {
    transform: rotate(90deg);
}

@keyframes slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateY(100%);
	}
}

@media(max-width: 800px) {
    .projects-content {
        border-radius: 0px;
        width: 100%;
        left: 0%;
    }
}

/* Projects panel */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 5px black;
    padding: 1rem;
    /* background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(51,51,51,1) 100%); */
    background: rgba(45, 45, 45, 1);
}
.card:hover {
    /* transform: translate3d(-0.2rem, -0.2rem, -0.2rem); */
    box-shadow: 0 0 15px black;
}
.card > h1 {
    padding-bottom: 1rem;
    margin: 0;
    border-bottom: 0.1rem solid white;
}
.card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.see-project-button, .see-repo-button {
    color: white;
    border: 2px solid black;
    display: inline-block;
    text-decoration-color: none;
    text-decoration: none;
    border-radius: 2rem;
    transition: 0.2s;
}
.see-project-button {
    background: rgb(51, 51, 51);
    margin-right: 0.5rem;
    padding: 0.8rem;
}
.see-repo-button {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    border: none;
    font-size: 2.5rem;
    line-height: 50px;
}
.see-project-button:hover, .see-repo-button:hover {
    background: white;
    color: black;
}
.see-project-button:active {
    border: 2px solid white;
}

/* About me panel */

.aboutme {
    font-size: x-large;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}