/* Projects panel */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.card {
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0 0 5px black;
    padding: 1rem;
    /* background: radial-gradient(circle, rgba(31,31,31,1) 0%, rgba(51,51,51,1) 100%); */
    background: rgba(45, 45, 45, 1);
}
.card:hover {
    /* transform: translate3d(-0.2rem, -0.2rem, -0.2rem); */
    box-shadow: 0 0 15px black;
}
.card > h1 {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid white;
}
.see-project-button, .see-repo-button {
    background: rgb(51, 51, 51);
    color: white;
    border: 3px solid black;
    display: inline-block;
    text-decoration-color: none;
    padding: 0.8rem;
    text-decoration: none;
    border-radius: 2rem;
    transition: 0.2s;
}
.see-project-button:hover, .see-repo-button:hover {
    background: white;
    color: black;
}
.see-project-button:active, .see-repo-button:active {
    border: 3px solid white;
}