@import url("https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

html, body {
    background: url("images/code.jpg") fixed center center / cover;
    height: 100vh;
    font-family: 'Raleway';
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    padding: 1rem;
}

/* Typing text */
#header-text-wrapper {
    margin: 2rem;
}
.header-text {
    letter-spacing: 0.075em;
    line-height: 1em;
    margin: 0.5rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #4d4d4d;
    text-align: center;
    padding: 0;
    white-space: nowrap;
}
#cursor {
    border-right: 0.1rem solid #ffffff;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%  { border-right: 0.2rem solid #ffffff; }
    49% { border-right: 0.2rem solid #ffffff; }
    50% { border-right: 0.2rem solid transparent; }
    99% { border-right: 0.2rem solid transparent; }
    100%  { border-right: 0.2rem solid #ffffff; }
}
#projects-open-button {
    background-color: transparent;
    backdrop-filter: blur(10px);
	border-radius:10px;
    border: 3px solid #141414;
    text-transform: uppercase;
    letter-spacing: 0.05em;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
    padding: 1rem;
    transition: transform 0.2s linear;
    outline: none;
}
#projects-open-button:hover {
    transform: translateY(-0.3rem);
}
#projects-open-button:active {
    transform: translateY(0.2rem);
}

/* Projects panel */
#projects {
    background: #141414;
    display: none;
    opacity: 95%;
    backdrop-filter: blur(10px);
    width: 80%;
    height: 100%;
    left: 10%;
    position: absolute;
    overflow: auto;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
    /* margin: 0 auto; */
}
#projects-close-button {
	background-color: transparent;
    border: transparent;
	cursor: pointer;
	color: #ffffff;
    font-size: 3rem;
    outline: none;
    margin-top: 1rem;
    transition: 0.2s;
}
#projects-close-button:hover {
    transform: rotate(90deg);
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center;
}
.card {
    position: relative;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0.2em 0.2em 0.2em black;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    margin: 1rem;
    background: #211F1F;
    font-size: 2rem;
}
.card:hover {
    transform: translate3d(-0.2rem, -0.2rem, -0.2rem);
    box-shadow: 0.3em 0.3em 0.3em black;
}

/* Social media buttons */
.social-links ul {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
}
.social-links ul li {
    list-style: none;
    margin: 0 10px;
}
.social-links ul li a {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-links ul li:nth-child(1) a {
    background-color: #211F1F;
}
.social-links ul li:nth-child(2) a {
    background-color: #0077B5;
}
.social-links ul li a:hover {
    transform: translateY(-0.5em);
}
.social-links ul li i {
    color: white;
    font-size: 1.5rem;
    line-height: 50px;
    transition: .5s;
}

@media(min-width: 1200px) {
    .header-text {
        font-size: 3.5rem;
    }
}

@media(max-width: 800px) {
    .front {
        padding: 0 1rem;
    }

    .header-text {
        font-size: 2.5rem;
    }

    .cursor {
        border-right: 0.1rem solid #ffffff;
        margin-left: 0.1rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}