@import url("https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

body, html {
    background: url("images/code.jpg") fixed center center / cover;
    height: 100vh;
    font-family: 'Raleway';
    color: #ffffff;
    overflow: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

h1 {
    letter-spacing: 0.075em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #4d4d4d;
}

.cursor {
    border-right: 0.2rem solid #ffffff;
    margin-left: 0.2rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { border-right: 0.2rem solid #ffffff; }
    49% { border-right: 0.2rem solid #ffffff; }
    50% { border-right: 0.2rem solid transparent; }
    99% { border-right: 0.2rem solid transparent; }
    100%  { border-right: 0.2rem solid #ffffff; }
}

@media(min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media(max-width: 800px) {
    .front {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}